<div class="auth-wrapper">
  

  <form (ngSubmit)="onSubmit()" class="auth-form">
    <h2>Accedi</h2>

    <div class="field">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" [(ngModel)]="credentials.username" placeholder="Il tuo username" />
    </div>

    <div class="field">
      <label for="password">Password</label>
      <div class="password-wrapper">
        <input id="password" name="password" [type]="showPassword() ? 'text' : 'password'" [(ngModel)]="credentials.password" placeholder="La tua password" />
        <button type="button" class="toggle-pwd" (click)="showPassword.set(!showPassword())" tabindex="-1">
          <i [class]="showPassword() ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
      </div>
    </div>

     <button type="submit" [disabled]="loading()" class="text-white">
        {{ loading() ? 'Caricamento...' : 'Accedi' }}
</button>
<div class="link-bar d-flex">
    <a routerLink="/register">Non hai un account? Registrati</a>
  </div>
 @if (error()) {
<div class="alert alert-danger">{{ error() }}</div>
      }
  </form>
</div>
